.chem_background{
	width: 100%;
	height: 661px;
	background: url(../img/banner2.png);
	background-size: cover;
	padding-top: 194px;
}

.getpassword{
	width: 847px;
	height: 434px;
	margin: auto;
	border: 2px solid #0087ea;
	background: #fff;
}

.getpassword>img{
	display: block;
	margin: auto;
	margin-top: 57px;
}

.getpassword>form{
	width: 360px;
	height: 256px;
	margin: auto;
	margin-top: 51px;
}

.getpassword>form>span{
	width: 100px;
	height: 35px;
	float: left;
	display: block;
	margin-bottom: 20px;
	line-height: 35px;
}

.getpassword>form>input{
	width: 255px;
	height: 35px;
	float: left;
	background:#efefef ;
	border:1px solid gainsboro;
	margin-bottom: 20px;
}

.getpassword>form>button{
	width: 100%;
	height: 46px;
	background: #0096ed;
	border:none;
	color:#fff;
}
